[Desktop Entry]
Categories=Settings;
Exec=biglinux-themes-gui
Icon=/usr/share/bigbashview/bcc/apps/biglinux-themes-gui/big-plasma-theme.png
Name=Appearance, performance and usability
Name[bg]=Външен вид, производителност и използваемост
Name[cs]=Vzhled, výkon a použitelnost
Name[da]=Udseende, ydeevne og brugervenlighed
Name[de]=Aussehen, Leistung und Benutzerfreundlichkeit
Name[el]=Εμφάνιση, απόδοση και χρηστικότητα
Name[es]=Apariencia, rendimiento y usabilidad
Name[et]=Välimus, jõudlus ja kasutatavus
Name[fi]=Ulkonäkö, suorituskyky ja käytettävyys
Name[fr]=Apparence, performance et convivialité
Name[he]=מראה, ביצועים ושימושיות
Name[hr]=Izgled, performanse i upotrebljivost
Name[hu]=Megjelenés, teljesítmény és használhatóság
Name[is]=Útlit, frammistaða og notagildi
Name[it]=Aspetto, prestazioni e usabilità
Name[ja]=外観、性能、ユーザビリティ
Name[ko]=외관, 성능 및 유용성
Name[nl]=Uiterlijk, prestaties en bruikbaarheid
Name[no]=Utseende, ytelse og brukervennlighet
Name[pl]=Wygląd, wydajność i użyteczność
Name[pt]=Aparência, desempenho e usabilidade
Name[ro]=Aspect, performanță și utilizare
Name[ru]=Внешний вид, производительность и удобство использования
Name[sk]=Vzhľad, výkon a použiteľnosť
Name[sv]=Utseende, prestanda och användbarhet
Name[tr]=Görünüm, performans ve kullanılabilirlik
Name[uk]=Зовнішній вигляд, продуктивність і зручність використання
Name[zh]=外观、性能和可用性


StartupNotify=true
Terminal=false
Type=Application
