[Desktop Entry]
Categories=Settings;
Exec=biglinux-themes-gui
Icon=preferences-system-windows-effect-trackmouse
Name[pt_BR]=Configurar o tema do sistema
Name=Configurar o tema do sistema
StartupNotify=true
Terminal=false
Type=Application
