[Desktop Entry]
Categories=Qt;KDE;Utility;
Comment[pt_BR]=
Comment=
Exec=krunner
GenericName[pt_BR]=
GenericName=
Icon=/usr/share/pixmaps/big-rocket.png
MimeType=
Name[pt_BR]=Executar
Name=Executar
OnlyShowIn=KDE;
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
